.darkmode-button {
  display: flex;
  align-items: center;
  gap: 0.7em;
  border: none;
  font-weight: 500;
  background-color: transparent;
}

.darkmode-button:hover {
  cursor: pointer;
}

.darkmode-button svg{
  height: 18px;
  width: 18px;
  stroke-width: 1.5px;
}
