.searchForm {
  display: flex;
  align-items: center;
  gap: 2em;
  border-radius: 0.4em;
  padding: 0.4em 2em;
  margin: 0 auto;

  margin-bottom: 2.5em
}

.searchButton {
  border: none;
  height: 20px;
  width: 20px;
}

.searchButton:hover {
  cursor: pointer;
}

.searchInput {
  height: 100%;
  border: none;
  background-color: inherit;
  padding: 0.8em;
}
