.countriesGrid {
  grid-template-columns: 21em;
  justify-items: stretch;
  justify-content: center;
  display: grid;
  gap: 1em;
}

@media (min-width: 47.5em) {
  .countriesGrid {
    grid-template-columns: 21em 21em;
    justify-content: space-between;
    gap: 5em;
  }
}

@media (min-width: 72em) {
  .countriesGrid {
    grid-template-columns: repeat(3, 21em);
    grid-column-gap: 2em;
    grid-row-gap: 5em;
  }
}

@media (min-width: 90em) {
  .countriesGrid {
    grid-template-columns: repeat(4, 21em);
  }
}
