@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap");

:root {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;

  /* light mode text */
  color: hsl(200, 15%, 8%);

  /* night scheme */
  --dark-elements: hsl(209, 23%, 22%);
  --dark-background: hsl(207, 26%, 17%);
  --dark-text: hsl(0, 0%, 100%);

  /* light scheme */
  --light-elements: hsl(0, 0%, 100%);
  --light-background: hsl(0, 0%, 98%);
  --light-text: hsl(200, 15%, 8%);

  --light-input: hsl(0, 0%, 52%);

  /* to-override colors */
  --elements-color: var(--light-elements);
  --background-color: var(--light-background);
  --text-color: var(--light-text);
}


*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: inherit;
  color: inherit;
}

img {
  max-width: 100%;
  /* needs further testing */
  min-width: 100%;
}

ul,
ol {
  list-style: none;
}

button {
  background-color: inherit;
}

button:hover {
  cursor: pointer;
}

svg {
  height: 20px;
  width: 20px;
}

a {
  text-decoration: none;
}
