.dropdown{
  position: relative;
  font-size: 0.85rem;
  max-width: 50%;
}

.dropdown svg {
  height: 12px;
  width: 12px;
}

.dropdownButton{
  font-size: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  width: 100%;
  margin-bottom: 0.4em;
  padding: 1.2em 2em;
}

.dropdownContent{
  position: absolute;
  font-size: 1.1em;
  width: 100%;
  overflow-y: hidden;
}

.dropdownButton, .dropdownContent{
  border-radius: 0.4em;
}

.dropdownContent button{
  width: 100%;
  text-align: left;
  border: none;
  padding: 0.5em 2em;
}


.dropdownContent li:first-child{
  padding-top: 0.5em;
}

.dropdownContent li:last-child{
  padding-bottom: 0.5em;
}

.isHidden {
  height: 0;
}
